<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<body>
    <div class="menubar" id="menubar">
        <div class="menubargroup"><a href="javascript:void(0)" class="closebtn" onclick="close_menu()"><img src="{% static 'home/images/X_square.webp' %}" alt="close menu"></a><p class="logowhite">QUIZZ</p></div>
        <a class="menubargroup" href="{% url 'home'%}"><img src="{%static 'home/images/Home.png'%}"><p class="menubartext">Home</p></a>
        <a class="menubargroup" href="{% url 'logout' %}"><img src="{%static 'home/images/LogOut.png'%}"><p class="menubartext">Log Out</p></a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("menubar").style.display = "none";
        });
        document.addEventListener('click', function(event) {
        const menubar = document.getElementById("menubar");
            if (!menubar.contains(event.target) && event.target.closest('.menu') == null) {
                close_menu();
            }
        });
        function open_menu() {
            document.getElementById("menubar").style.display = "flex";
        }
        function close_menu() {
            document.getElementById("menubar").style.display = "none";
        }
    </script>
    <div class="menu">
        <span style="font-size:30px;cursor:pointer" onclick="open_menu()"><img src="{%static 'home/images/Menu.png'%}"></span>
        <p class="logo">QUIZZ</p>
    </div>
    {% block content %}{% endblock %}
</body>