<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <div class="menubar" id="menubar">
        <a href="javascript:void(0)" class="closebtn" onclick="close_menu()"><img src="{% static 'home/images/X_square.webp' %}" alt="close menu"></a>
        <p class="menubartext">Home</p>
    </div>
    <script>
        function open_menu() {
            document.getElementById("menubar").style.display = "block";
        }
        function close_menu() {
            document.getElementById("menubar").style.display = "none";
        }
    </script>
    <div class="menu">
        <span style="font-size:30px;cursor:pointer" onclick="open_menu()"><img src="{%static 'home/images/Menu.png'%}"></span>
        <p class="logo">hi micaiah</p>
    </div>
</head>
<body>
    {% block content %}{% endblock %}
</body>