{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<div class="createoverlay" id="createoverlay">
    <div class="create-box">
        <div class="header-x">
            <h1 class="section-title">Add New Question</h1>
            <div class="spacer1"></div>
            <a class="close" href="javascript:void(0)" onclick="open_create()">
                <img class="icon" src="{%static 'home/images/X_square.webp'%}">
            </a>
        </div>
        <hr>
        <form class="form-area" method="post">
            {% csrf_token %}
            {{ form.question }}
            {{ form.question.errors }}
            <div class="solutions-area">
                {{ form.solution1 }}
                {{ form.solution2 }}
                {{ form.solution3 }}
                {{ form.solution4 }}
            </div>
            <p class="instruction">Select existing catagories to label the question as or add new ones:</p>
            {{ form.tags }}
            {{ form.newtags }}
            <p class="instruction">NOTE: You can not have more than 4 catagories. Attempting to add more will result in the question not being saved.</p>
            <p class="instruction">NOTE: Any new catagories created will be applied to this question.</p>
            <button id="finish-add-question" type="submit" name="continue" value="complete">Finish</a>
        </form>
    </div>
</div>
<div class="home-container">
    <div class="section">
        <h1 class="section-title">Decks</h1>
        <hr>
        <div class="horizontal-grid">
            <a class="create-new" href="javascript:void(0)" onclick="open_create()">
                <img class="icon" src="{%static 'home/images/Plus_Circle.png'%}">
                <p class="card-middle">Create New</p>
            </a>
            {% comment %} Cards for each category {% endcomment %}
            <div class="deck-card">
                <p class="card-title">{%  %}</p>
            <div class="deck-card">
                <p class="card-title">Chinese</p>
                <p class="info">Last Score</p>
            </div>
        </div>
    </div>
    <div class="section">
        <h1 class="section-title">Analytics</h1>
        <hr>
        <div class="horizontal-grid">
            <div class="deck-card">
                <p class="card-title">Streak</p>
                <p class="info">Days Long</p>
            </div>
            <div class="deck-card">
                <p class="card-title">Weekly Average</p>
            </div>
            <div class="deck-card-wide">
                <p class="card-title">Past Year<p>
            </div>
        </div>
    </div>
    <table>
        {%for item in object_list%}
        <tr>
            <td>{{ item.question }}</td>
            <td>{{ item.solution2 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    function open_create() {
        document.getElementById("createoverlay").classList.toggle('show');
    }
    function send_question() {
        document.getElementById("question-form")
    }
</script>
{% endblock %}
