* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(107 31% 1%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(105 40% 94%);
    --text-muted: hsl(105 8% 68%);
    --highlight: hsl(105 6% 38%);
    --border: hsl(105 8% 27%);
    --border-muted: hsl(105 11% 17%);
    --primary: hsl(105 33% 63%);
    --secondary: hsl(286 46% 74%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
    --heading: 3rem;
    --logo: 3rem;
    --sub: 2rem;
    background-color: var(--bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    background-color: var(--primary);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.menubar {
    background-color: var(--bg-dark);
    height: 100%;
    display: none;
    width: 15rem;
    position: fixed;
    padding: 0.5rem;
    opacity: 90%;
}

.logo {
    font-size: var(--logo);
    margin-left: 0.5rem;
}

.home-container {
    width: 100%;
    background-color: var(--bg);
    margin: 2rem;
}

.section {
    margin-top: 1rem;
}

.section-title {
    font-size: var(--heading);
    font-weight: bold;
    color: var(--text);
    margin-bottom: 1rem;
    color: var(--text);
}

.horizontal-grid {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.deck-card {
    flex-shrink: 0;
    background-color: var(--bg-light);
    padding: 1rem;
    min-height: 18rem;
    min-width: 18rem;
    border-radius: 15px;
}

.create-new {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--bg-light);
    padding: 1rem;
    min-height: 18rem;
    min-width: 18rem;
    border-radius: 15px;
}

.deck-card-wide {
    flex-shrink: 0;
    background-color: var(--bg-light);
    padding: 1rem;
    min-height: 18rem;
    min-width: 36rem;
    border-radius: 15px;
}

.card-title  {
    color: var(--text);
    font-size: var(--sub);
    justify-self: center;
}

.card-middle {
    color: var(--text);
    font-size: var(--sub);
}

.info {
    color: var(--text-muted)
}

.plus {
    width: 2rem;
    height: 2rem;
}

.createoverlay {
    display: flex;
    visibility: hidden;
    position: fixed;
    height: 70%;
    width: 70%;
    background-color: black;
    justify-self: center;
}

.createoverlay.show { visibility: visible; opacity:1;}